<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/output.css' />
</head>

<body class="bg-white">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <script src="/javascripts/bundle.js"></script>
</body>

</html>