<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
      (function () {
        const theme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", theme);
      })();
    </script>

    <link rel="stylesheet" href="/stylesheets/output.css" />
    <title>Register</title>
  </head>

  <body class="bg-base-200">
    <%- include('shares/_topbar') %>

    <main class="grid min-h-screen place-items-center p-4">
      <div class="bg-base-100 card w-full max-w-md shadow-xl">
        <div class="card-body gap-4">
          <div class="mb-4 flex items-center justify-between">
            <h1 class="card-title text-primary text-3xl font-bold">Register</h1>
          </div>

          <form id="register-form" class="flex w-full flex-col gap-2" method="POST">
            <div class="form-control">
              <label class="label" for="membername">
                <span class="label-text">Member Name</span>
              </label>
              <input type="text" name="membername" id="membername" required class="input input-bordered w-full" />
              <label class="label">
                <span class="label-text-alt text-error" data-error-for="membername"></span>
              </label>
            </div>

            <div class="form-control">
              <label class="label" for="name">
                <span class="label-text">Name</span>
              </label>
              <input type="text" name="name" id="name" required class="input input-bordered w-full" />
              <label class="label">
                <span class="label-text-alt text-error" data-error-for="name"></span>
              </label>
            </div>

            <div class="form-control">
              <label class="label" for="YOB">
                <span class="label-text">Year of Birth</span>
              </label>
              <input type="number" name="YOB" id="YOB" required class="input input-bordered w-full" />
              <label class="label">
                <span class="label-text-alt text-error" data-error-for="YOB"></span>
              </label>
            </div>

            <div class="form-control">
              <label class="label" for="password">
                <span class="label-text">Password</span>
              </label>
              <input type="password" name="password" id="password" required class="input input-bordered w-full" />
              <label class="label">
                <span class="label-text-alt text-error" data-error-for="password"></span>
              </label>
            </div>

            <div class="form-control">
              <label class="label" for="confirm_password">
                <span class="label-text">Confirm Password</span>
              </label>
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                required
                class="input input-bordered w-full"
              />
              <label class="label">
                <span class="label-text-alt text-error" data-error-for="confirm_password"></span>
              </label>
            </div>
            <div id="register-form-error" class="text-error h-4 text-center text-sm"></div>

            <button
              id="register-submit-button"
              class="btn btn-primary mt-2 w-full"
              type="submit"
              data-original-text="Create Account"
            >
              Create Account
            </button>
<!-- 
            <div class="divider">OR</div> -->

            <!-- <button class="btn border-black bg-black text-white">
              <svg
                aria-label="GitHub logo"
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  fill="white"
                  d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
              Login with GitHub
            </button> -->
          </form>
        </div>
      </div>
    </main>
     
    <%- include('./partials/_modal') %> 
  </body>
</html>
<script src="/javascripts/bundle.js"></script>
