<dialog id="app-modal" class="modal">
  <div class="modal-box">
    <h3 id="modal-title" class="text-lg font-bold"></h3>
    <p id="modal-body" class="py-4"></p>
    <div id="modal-actions" class="modal-action"></div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
